﻿ body {
      font: 40px Raleway, ;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p 
  {
	width: 50%;
	/*height: 225px;*/
  padding-bottom: 75px;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	text-align: center;

  color: #000000;
  }

  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-image: url("https://pbs.twimg.com/media/DnWa-DoU0AAwIZR.jpg:large"); /* Green */
      color: #ffffff;
      background-size: 1350px
  }
  .bg-2 { 
      background-color: white; /* White */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #398F9B; /* Blue */
      color: #555555;

  }
  .bg-4 { 
      background-color: white; /* Black Gray */
      color: #ffffff;

  }

  .bg-5 {
    background-color: grey;
  }
  .container-fluid { 
      padding-top: 50px; 
      padding-right: 0px !important;
      padding-left: 0px !important;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0px !important;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  #uikepal{
    width: 100%;
    max-width: 160px;
    border-radius: 20px;
    /*margin-right: 1000px;*/
    margin-top: 50px;
  }

  .trashee{
    width: 400px;
    height: 400px;
    background: url(https://pbs.twimg.com/media/Dnbc1GiXoAAPCbx.png);
    border: 10px solid #398F9B;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .carisekolah{
    width: 400px;
    height: 400px;
    background: url(https://image.ibb.co/iudT7K/logo_only.png);
    border: 10px solid #398F9B;
    box-sizing: border-box;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }


/**/