{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include "navbar.html" %}
</head>
<body>

<section>
  <div>
        <div>
          <form id="form" method="POST" action="{% url 'story5:saveproject' %}">
            {% csrf_token %}
            {{ addproject_form.as_p }}

            <input id="submit" type="submit" class="btn btn-lg btn-info" value="Submit">
          </form>
        </div>
    </div>
</section>

</body>
</html>