  {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>About Naufaldi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="{%static 'StyleSheet1.css' %}" /> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  {% include "navbar.html" %}  

</head>
<body>

    <!--  Populate semua isi pesan dari model -->
    <table class="table" id = "table">
        <thead>
            <th>Nama Kegiatan</th>
            <th>Tanggal Kegiatan</th>
            <th>Tempat Kegiatan</th>
            <th>Deskripsi Kegiatan</th>
            <th>Kategori Kegiatan</th>
            <th>Time</th>
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in project %}
            {% if i.position == 'Anonymous' or i.title == 'Anonymous' %}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td> {{i.position}} </td>
                <td> {{i.tanggal}} </td>
                <td> {{i.title}} </td>
                <td> {{i.description}} </td>
                <td> {{i.kategori}} </td>
                <td> {{i.time}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>    
    </script>
    
    <a href="/addproject/" class="btn btn-primary">Add Project</a>
    <a href="/delete_every/" class="btn btn-primary">Delete Project</a>

</body>
</html> 
