{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>About Naufaldi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{%static 'StyleSheet1.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% include "navbar.html" %}
</head>
<body>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center" id="about">
  <h1 class="margin" style="color: #398F9B">ABOUT ME</h1>
  <img src="https://1.bp.blogspot.com/-pJ81SL_I2z0/WkRvxq0ySyI/AAAAAAAA5Ds/msyJr7Y-FSwOzGEv3ljhksOROcaOlecsQCLcBGAs/s1600/x2ee3g06bmyekycfcwrisfkljt0ofwh771kbfeyxugxgdpml29kyjetsh6txe5i9-.jpg" width="75px">
  <h1><br></h1>
  <center>
  <p style="color: black;" "font-family: raleway;" "text-align: center;">My name is Naufaldi Athallah Rifqi. I’m majoring computer science in Faculty of Computer Science University of Indonesia. I’m a Front End Developer with experience coding HTML, CSS, PHP, and JavaScript. I focus on writing clean, elegant and efficient code. </p>
  </center>
</div>

</body>
</html>