{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>About Naufaldi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{%static 'StyleSheet1.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% include "navbar.html" %}
</head>
<body>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center" id="done">    
  <h1 style="color: white">Here’s what I’ve done so far</h1>
  <svg width="749" height="1" viewBox="0 0 749 1" fill="none" xmlns="http://www.w3.org/2000/svg"> <line y1="0.5" x2="749" y2="0.5" stroke="white"/>
  </svg> <br>
  <svg width="285" height="1" viewBox="0 0 285 1" fill="none" xmlns="http://www.w3.org/2000/svg"> <line y1="0.5" x2="285" y2="0.5" stroke="white"/>
  </svg>
  <center><img id = "uikepal" src = "https://pbs.twimg.com/media/DnXbpKwV4AAHcfp.png:large"></center>
  <center><p style="color: white;" "text-align: center;" "margin-top: 50px"><br> SMAN 39 Jakarta <br> 2014-2017</p></center>
  <img id = "uikepal" src="https://i2.wp.com/masqueradestageschool.com/wp-content/uploads/2016/10/3_cQvqKi.png?fit=256%2C256.png">
  <center><p style="color: white;" "text-align: center;" "margin-top: 50px"><br> Universitas Indonesia <br> Faculty of Computer Science <br> 2017-now</p></center>
  <img id = "uikepal" src = "https://image.ibb.co/cewsEz/F3_Hbws0w_400x400.png">
  <center><p style="color: white;" "text-align: center;" "margin-top: 50px"><br> BEM Fasilkom UI 2018 <br> Staff of Athletic Department <br> 2017-now</p></center>
  <img id = "uikepal" src = "https://image.ibb.co/dHX4SK/BKs_C1_D7_M_400x400.jpg">
  <center><p style="color: white;" "text-align: center;" "margin-top: 50px"><br> CS League 2018 <br> Staff of Event <br> 2017-2018</p></center>
  <img id = "uikepal" src = "https://image.ibb.co/nuHhEz/0p_FZav0k_400x400.jpg">
  <center><p style="color: white;" "text-align: center;" "margin-top: 50px"><br> COMPFEST X <br> Staff of Seminar <br> 2017-now</p></center>
  <br><br><br><br><br><br><br>
</div>

</body>
</html>