{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Naufaldi Athallah</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{%static 'StyleSheet1.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% include "navbar.html" %}
</head>
<body>

<div class="container-fluid bg-1 text-center">
  <img src="https://pbs.twimg.com/media/DnWdrT6V4AEoUpD.jpg:large" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="250" height="250">
  <h1>NAUFALDI ATHALLAH RIFQI</h1>
  <h4>FACULTY OF COMPUTER SCIENCE UNIVERSITAS INDONESIA</h4>
  <br><br><br><br><br>

</body>
</html>