{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>About Naufaldi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{%static 'StyleSheet1.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% include "navbar.html" %}

</head>
<body>

<!--fourth container-->
<div class="container-fluid bg-4 text-center" id="projects">
  <h1 class="margin" style="color: #398F9B">PROJECTS</h1>
  <center><div class="trashee"> </div></center>
  <h2 class="margin" style="color: #398F9B">TRA$HEE <br> Co-Founder</h2>
  <center><p style="color: black;" "text-align: center;" "margin-top: 50px"> Platform yang menjadi perantara antara pihak yang membutuhkan sampah dengan pihak yang memiliki sampah berlebih. </p></center>
  <center><div class="carisekolah"></div></center>
  <h2 class="margin" style="color: #398F9B">cariSekolah.id <br> Co-Founder</h2>
  <center><p style="color: black;" "text-align: center;" "margin-top: 50px"> Platform yang berfungsi untuk mempermudah masyarakat mencari sekolah yang favorit. </p></center>
</div>


</body>
</html>